<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Framework Example</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/scripts/echarts.js"></script>
</head>
<body>
    <div class="container">
        <div class="general_framework">
            <div class="individual_column">
                <div class="individual_column_topnav">
                    <button id="individual_list1-button" class="topnav_button">Chart 1</button>
                    <button id="individual_list2-button" class="topnav_button">Chart 2</button>
                </div>
                <div class="individual_column_list">
                    <!-- List items will be added here -->
                </div>
            </div>
            <div class="view_container_wrap">
                <div class="view_topnav">
                    <button id="chart1-button" class="topnav_button">Chart 1</button>
                    <button id="chart2-button" class="topnav_button">Chart 2</button>
                </div>
                <div class="view_container">
                    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                     <div id="myChart" class="chart-canvas"></div>
                </div>
            </div>
            <div class="operation_control_frame">

            </div>
        </div>
    </div>
    <script src="../static/scripts/index.js"></script>
</body>
</html>